#hero img{
    width:100%;
    height: auto;
    border-radius: 30px;
    border: 4px solid #007bff;
    object-fit: cover;
    object-position: center;
    max-width: 1460px;
}

#hero {
    width: 100vw;
    display: flex;
    margin-left: -70px;
    margin-top: -15px;
    align-items: center;
    justify-content: flex-start;    
  }